<div class="overall-section gradient">

	<div class="header-section">

		<div class="header-tab">
			<ul>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About Us', about_path %></li>
			</ul>
		</div>
		

		<%= image_tag 'crownkeepers-logo2.png', :class => "headerimage" %>
		<span class="smallfont">presented by:</span>
			<ul class="partners">
				<li><a target='_blank' href="http://www.thespreadmag.com">
					<%= image_tag 'spreadmag.jpg' %>
				</a></li>
				<li><a target='_blank' href="http://www.duppandswat.com">
					<%= image_tag 'duppswat.jpg' %>
				</a></li>
			</ul>
			<div class="socialbox">
				<a href="https://www.facebook.com/crown.keepers" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/crownkeepers704" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/crownkeepers/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
	</div>

<div class="main3-section">
	<div class="bd-section">
		<h1>Board of Directors</h1>

		<ul>
			<li><strong>Davita Galloway</strong></br>Chair & Co-CEO</li>
			<li><strong>Dion Galloway</strong></br>Co-CEO</li>
			<li><strong>Will Jenkins</strong></br>Director of Media & Communications</li>
			<li><strong>Shannon McKnight</strong></br>Director of Funding</li>
			<li><strong>Aisha Dew</strong></br>Senior Community Outreach</li>
			<li><strong>Cedric Isaac</strong></br>Director of Strategic Planning</li>
			<li><strong>Jay Reitzes</strong></br>Director of Management & Finances</li>
			<li><strong>Eryn Reid</strong></br>Director of Strategic Planning</li>
			<li><strong>Clarissa Brooks</strong></br>Junior Community Outreach</li>
		</ul>
	</div>
</div>

<div class="main3-section">
	<div class="bd-section">
		<h1>What We Do</h1>

		<p>To further extend our reach into the artistic realm of Charlotte, the non-profit, CrownKeepers, was created. Through various projects, educational workshops and events, our goal is to push the art of creating to the masses. Specifically, we host monthly events, entitled #ImAnArtistDammit, that encourage local artists to perform and/or showcase their talent. #WeArtTheWorld is an initiative designed to surprise citizens with a creative outlet. For this, we place large bags of art supplies, randomly, throughout the city, in hopes of someone finding it and creating 'magic' with the contents. Additionally, we partner with Charlotte area schools to show students the importance of education, as well as inform them that creative-based careers are a viable option. 
		</p>

	</div>
</div>

<div class="main3-section">
	<div class="bd-section">
		<h1>Tax-Exempt</h1>

		<p>Click To View Form</p>

	</div>
</div>

<div class="main3-section">
	<div class="bd-section">
		<h1>Contact Us</h1>

		<ul>
			<li>980.224.2128</li>
			<li>crownkeepers@duppandswat.com</li>
			<li>2424 N Davidson St, Ste 112B | Charlotte, NC 28205</li>
			<li>				<a href="https://www.facebook.com/crown.keepers" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/crownkeepers704" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/crownkeepers/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</li>
		</ul>
	</div>
</div>

</div>